<p style="color: green"><%= notice %></p>

<% content_for :title, "News" %>

<h1>Listado de Noticias</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>


<% @news.each do |news_item| %>
  <div class="news-item">
    <h2><%= news_item.title %></h2>
    <p><%= news_item.content %></p>

    <h3>Comentarios:</h3>
    <div class="comments">
      <% news_item.comments.each do |comment| %>
        <p>comentario: <%= comment.content%></p>
      <% end %>
    </div>

    <!-- Formulario para agregar un nuevo comentario -->
    <%= form_with(model: [news_item, news_item.comments.build], local: true) do |f| %>
      <div class="form-group">
        <%= f.label :content, "Nuevo Comentario" %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <%= f.submit "Agregar Comentario", class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>